@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Roboto:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0px;
  font-weight: 600;
  background-color: #402E32;
  overflow-x: hidden;
}

.navigation {
  height: 60vh;
  color: #DFE0DF;
  display: flex;
}
.navigation nav {
  display: flex;
  justify-content: space-evenly;
}
.navigation__header {
  background-color: #a56027;
  width: 66%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 78%);
  z-index: 1;
}
.navigation__name {
  font-size: 2em;
  color: #402E32;
}
.navigation__list {
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0;
  list-style-type: none;
}
.navigation__list li {
  margin-right: 15px;
  font-size: 1.5em;
}
.navigation__list li a {
  color: #DFE0DF;
  text-decoration: none;
}
.navigation .socials {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.navigation .socials__list {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
.navigation .socials__list img {
  height: 2.5em;
}
.navigation .socials__list img:hover {
  scale: 1.5;
}
.navigation .about-me {
  display: flex;
}
.navigation .about-me__image {
  z-index: 2;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 84%);
}
.navigation .about-me__image__me {
  width: 200px;
}
.navigation .about-me__text {
  width: 60%;
  margin: auto;
  margin-top: 6vh;
}
.navigation .about-me__text p {
  margin: 10px;
  font-size: 1.1em;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.work-wrapper {
  margin-top: 35vh;
  display: flex;
  justify-content: center;
  background-color: rgba(149, 90, 42, 0.6705882353);
  flex-direction: column;
  align-items: center;
}

.my-work {
  margin-bottom: 5%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.my-work a {
  text-decoration: none;
}
.my-work__single {
  width: 28%;
  background-color: rgb(57, 35, 40);
}
.my-work__single:hover {
  background-color: rgb(23, 10, 13);
}
.my-work__single p,
.my-work__single h2 {
  color: #DFE0DF;
}
.my-work__single p {
  margin: 2%;
}
.my-work__single img {
  width: 100%;
  aspect-ratio: 1/0.6;
}
.my-work__header {
  color: #DFE0DF;
}
.my-work--light {
  border: 1px solid rgb(89, 65, 65);
}
.my-work--dark {
  border: 1px solid rgb(19, 13, 13);
}

.journey {
  width: 60%;
  margin-top: 20vh;
}
.journey .my-journey__text {
  color: #DFE0DF;
}
.journey .my-journey__header {
  color: #DFE0DF;
}

.skills {
  margin-top: 20vh;
}
.skills img {
  width: 10%;
}
.skills__header {
  margin-bottom: 2vh;
  color: #DFE0DF;
}

.contact {
  width: 40%;
  margin-bottom: 2%;
}
.contact__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20vh;
  margin-top: 20vh;
  background-color: rgba(149, 90, 42, 0.6705882353);
  width: 100%;
}
.contact__header {
  color: #DFE0DF;
}
.contact__form {
  display: flex;
  flex-direction: column;
}
.contact__form input, .contact__form textarea {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 2%;
}
.contact__form button {
  all: unset;
  cursor: pointer;
  background-color: #402E32;
  color: #DFE0DF;
  font-size: 2em;
}

footer a {
  text-decoration: none;
  color: #DFE0DF;
}

@media only screen and (max-width: 768px) {
  .navigation {
    flex-direction: column;
  }
  .navigation .socials {
    width: auto;
  }
  .navigation__header {
    width: 100%;
    clip-path: none;
  }
  .my-work {
    flex-direction: column;
  }
  .my-work__single {
    width: 100%;
    margin-top: 2%;
  }
}

/*# sourceMappingURL=main.css.map */
